@import "src/App";

.widget {
  padding: 20px;
  @media screen and (min-width: $mobileDevice) {
    max-width: $mobileDevice;
  }
  @media screen and (min-width: $tabletDevice) {
    max-width: $tabletDevice;
  }
  @media screen and (min-width: $desktopDevice) {
    max-width: $desktopDevice;
  }
  @media screen and (min-width: $largeDesktopDevice) {
    max-width: $largeDesktopDevice;
  }
}

.widget__characters {
  @media screen and (min-width: $mobileDevice) {
    display: grid;
    grid-gap: 10px;
    max-width: $mobileDevice;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
  @media screen and (min-width: $tabletDevice) {
    max-width: $tabletDevice;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  @media screen and (min-width: $desktopDevice) {
    max-width: $desktopDevice;
    grid-gap: 15px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 40px;
  }
  @media screen and (min-width: $largeDesktopDevice) {
    max-width: $largeDesktopDevice;
    grid-gap: 20px;
  }
}

.widget__character {
  background-color: $white;
  border: 2px solid $white;
  border-radius: $normalBorderRadius;
  color: $black;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 0.1fr 0.4fr 0.1fr;
  grid-template-columns: 1fr;
  @media screen and (min-width: $mobileDevice) {
    max-width: 135px;
    max-height: 180px;
  }
}

.widget__character-img {
  display: flex;
  @media screen and (min-width: $mobileDevice) {
    max-height: 120px;
    width: 100%;
  }
}

.widget__character,
.widget__character-info {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.widget__character-info:first-child {
  font-size: 10px;
  text-align: center;
  padding-top: 10px;
  font-weight: 600;
}

.widget__character-info-button,
.widget__pop-up-button {
  cursor: pointer;
  width: 100%;
  min-height: 14%;
  border: none;
  border-bottom-left-radius: $normalBorderRadius;
  border-bottom-right-radius: $normalBorderRadius;
  margin: 0 auto;
  background-color: $green;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.widget__filter {
  display: grid;
  @media screen and (min-width: $mobileDevice) {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    max-width: $mobileDevice;
    margin-bottom: 10px;
  }

  @media screen and (min-width: $tabletDevice) {
    max-width: $tabletDevice;
  }

  @media screen and (min-width: $desktopDevice) {
    min-height: 50px;
    max-width: $desktopDevice;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 0;
  }
  @media screen and (min-width: $largeDesktopDevice) {
    max-width: $largeDesktopDevice;
  }
}

.widget__filter-options {
  display: grid;
  min-height: 25px;
}

.widget__filter-options:first-of-type {
  grid-column-start: 1;
  grid-column-end: 2;
}

.widget__filter-label {
  display: grid;
  @media screen and (min-width: $mobileDevice) {
    grid-column-start: 1;
    grid-column-end: span 2;
    margin-bottom: 7px;
  }
  @media screen and (min-width: $desktopDevice) {
    grid-column-start: 5;
  }
}

.widget__filter-input {
  width: 100%;
  border-radius: $normalBorderRadius;
  border: 2px solid $black;
  padding-left: 10px;
  min-height: 25px;
  font-size: 15px;
  display: grid;
  &::placeholder {
    color: $black;
  }

  @media screen and (min-width: $tabletDevice) {
    min-height: 30px;
  }

  @media screen and (min-width: $desktopDevice) {
font-weight: 600;
  }
}

.widget__filter-option {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border: 1px solid $black;
  color: $black;
  border-radius: $normalBorderRadius;
  max-height: 30px;
}

.widget__filter-checkbox {
  display: none;
}

.widget__filter-option-checked {
  background-color: $green;
}

.widget__menu-button {
  cursor: pointer;
  border-radius: $normalBorderRadius;
  border: 2px $green solid;
  margin-bottom: 15px;
  min-height: 25px;
  min-width: 135px;
  @media screen and (min-width: $tabletDevice) {
    min-height: 30px;
    font-weight: 600;
  }

  @media screen and (min-width: $desktopDevice) {
    min-width: 180px;
    min-height: 30px;
    position: absolute;
  }
}

.widget__pop-up {
  list-style: none;
  position: absolute;
  background-color: $white;
  width: 100%;
  height: 100%;
  font-size: 10px;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
}

.widget__pop-up-info {
  display: flex;
  width: 100%;
}

.widget__pop-up-button {

}