$mobileDevice: 320px;
$tabletDevice: 768px;
$largeTabletDevice: 992px;
$desktopDevice: 1024px;
$largeDesktopDevice: 1440px;

$black: #000000;
$white: #fdfdfd;
$grey: rgba(253, 253, 253, 0.5);
$green: #65d9a5;
$red: #DF0000;

$normalBorderRadius: 8px;

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
}

.app__header {
  color: $white;
  margin-bottom: 30px;
  font-family: get_schwiftyregular;
}

.app__control-buttons {
  display: grid;

  @media (min-width: $mobileDevice) {
    margin-top: 10px;
    max-width: $mobileDevice;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.app__control-button {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

.app__control-current-page {
  display: grid;
  grid-column-start: 1;
  grid-column-end: span 2;
  text-align: center;
  color: $white;
  background-color: $white opacity(50);
}